.bg {
    width:100%;
    background:url("image/bg-tail.gif") center top repeat;
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display:block;
}
mark, rp, rt, ruby, summary, time {
    display:inline;
}
/* Global properties ======================================================== */
html {
    max-width:100%;
}
.layer {
    overflow: auto; /* Добавляем полосы прокрутки */
    min-width: 960px; /* Ширина блока */
    padding: 5px; /* Поля вокруг текста */
    border: none; /* Параметры рамки */
}

.phone-icon-wrapper{
    display: inline-block;
    width: 30px;
    height: 30x;
    padding: 0px;
    border: none;
    background: none ;
    text-align: left;
    float: left;
    position: relative;

}
.phone-icon-wrapper2 {
    display: inline-block;
    width:10px;
    height: 10x;
    padding: 0px;
    border: none;
    background: none;
    text-align: right;
    float: right;
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    min-width: auto;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:100%;
    color:#808080;
    min-width:960px;
    background:#fff
}
.ic {
    border:0;
    float:right;
    background:#fff;
    color:darkgreen;
    width:50%;
    line-height:10px;
    font-size:10px;
    margin:-220% 0 0 0;
    overflow:hidden;
    padding:0
}
.bg {
    width:100%;
    background:url("image/bg-tail.gif") center top repeat;
}
.main {
    width:960px;
    padding:0;
    margin:0 auto;
    font-size:0.8125em;
    line-height:1.932em;
}
a {
    color:darkgreen;
    outline:none;
}
a:hover {
    text-decoration:none;
}
.col-1, .col-2 {
    float:left;
}
.wrapper {
    width:100%;
    overflow:hidden;
}
.extra-wrap {
    overflow:hidden;
}
p {
    margin-bottom:18px;
}
.p0 {
    margin-bottom:1px;
}
.p1 {
    margin-bottom:8px;
}
.p2 {
    margin-bottom:15px;
}
.p3 {
    margin-bottom:30px;
}
.p4 {
    margin-bottom:40px;
}
.p5 {
    margin-bottom:53px;
}
.reg {
    text-transform:uppercase;
}
.fleft {
    float:left;
}
.fright {
    float:right;
}
.alignright {
    text-align:right;
}
.aligncenter {
    text-align:center;
}
.it {
    font-style:italic;
}
.color-1 {
    color:#fff;
}
.color-2 {
    color:#000;
}
.color-3 {
    color:seagreen;
}



.header__call-phones{

}
/*********************************boxes**********************************/
.indent {
    padding:55px 0 10px 25px;
}
.indent-left {
    padding-left:19px;
}
.indent-left2 {
    padding-left:60px;
}
.indent-right {
    padding-right:45px;
}
.indent-bot {
    margin-bottom:20px;
}
.indent-bot2 {
    margin-bottom:30px;
}
.indent-bot3 {
    margin-bottom:45px;
}
.prev-indent-bot {
    margin-bottom:10px;
}
.img-indent-bot {
    margin-bottom:25px;
}
.margin-bot {
    margin-bottom:35px;
}
.img-indent {
    float:left;
    margin:0 20px 0px 0;
}
.img-indent2 {
    float:left;
    margin:0 25px 0px 0;
}
.img-indent-r {
    float:right;
    margin:0 10px 0px 40px;
}
.buttons a:hover {
    cursor:pointer;
}
.menu li a, .list-1 li a, .list-2 li a, .link, .button a, h1 a {
    text-decoration:none;
}
/*********************************header*************************************/
.tophead{
    height:35px; -/* высота блока*/
width: 100%;- /*ширина*/
position: absolute; - /*позиционирование*/
z-index: 2;
    background-image: url("image/bg-tail.gif");
}

.img1{
    display:block;
    align: left;
    height:5px ;
    width:5px;
    border:0;
    cursor: pointer;
    float: left;
    position: absolute ;
    margin: 5px;
    padding: 5px;
}

.account{
    display: inline-block;
    width: 5px;
    height: 5x;
    padding: 0px;
    border: none;
    background: none ;
    text-align: right;
    float: left;
    position: relative;
}
.data {
    display: inline-block;
    border: none;
    background: none ;
    text-align:center;
    float: left;
    position: fixed;
    margin-left: 1200px;
    margin-top: 0px;
    min-width: auto;
}
.phone{
    display: inline-block;
    border: none;
    background: none ;
    text-align:center;
    float: left;
    position:relative;
    margin: 5px;
    padding: 5px;
}
.btn-wrap-phone{
    padding-left:0px;
    margin-top: 0px;
}
.call{
    display: inline-block;
    border: none;
    background: none ;
    text-align:center;
    float: left;
    position: relative;
    margin: 5px;
    padding: 5px;
}
.btn-wrap-call{
    padding-left:25px;
    margin-top: 0px;
}
.buttoncall{
    display:inline-block;
    padding-bottom:4px;
    position:relative;
    margin-top: -8px;
}
.buttoncall a {
    display:inline-block;
    padding:5px 10px 5px 10px;
    font-size:14px;
    line-height:1.25em;
    text-transform:uppercase;
    color:#fff;
    background:url("image/button-tail.png") 0 0 repeat-x #155F3C;
    border-radius:20px;
    cursor:pointer;
}
.buttoncall a:hover {
    background:darkgreen;}

header {
    width:100%;
    position:absolute;
    z-index:2;
}
h1 {
    padding:17px 0 0 45px;
    position:relative;
    float:left;
}
h1 a {
    display:block;
    width:206px;
    height:91px;
    text-indent:-9999em;
    background:url("image/logo1.png") 0 0 no-repeat;
}
/***** menu *****/
.menu1 {
    width:100%;
    padding-bottom:2px;
    background:url("image/menu-row-tail.gif") center bottom repeat-x #fff;
}
.menu {
    padding:0 0 0 0;
    border-left:1px solid #e5e5e5;
}
.menu > li {
    float:left;
    position:relative;
    border-right:1px solid #e5e5e5;
}
.menu > li > a {
    display:block;
    width:191px;
    font-size:14px;
    line-height:4em;
    padding:4px 0 2px;
    color:#272727;
    text-transform:uppercase;
    text-align:center;
}
.menu li a.active, .menu > li > a:hover {
    color:#fff;
    background:darkgreen;

}
/***** search form *****/
#search-form {
    padding:50px 45px 0 0;
    float:right;
}
#search-form fieldset {
    position:relative;
    width:100%;
    display:block;
    overflow:hidden;
}
#search-form .search-field {
    float:right;
    width:220px;
    height:38px;
    padding-left:10px;
    background:url("image/search-bg.jpg") 0 0 no-repeat;
}
#search-form input {
    width:160px;
    font-size:14px;
    line-height:1.25em;
    padding:11px 20px 9px 10px;
    font-family:Arial, Helvetica, sans-serif;
    color:#d4d4d4;
    text-transform:uppercase;
    background:none;
    border:none;
    margin:0;
    outline:none;
}
#search-form .search-button {
    display:block;
    width:20px;
    height:20px;
    text-indent:-5000px;
    background:url("image/search-icon.png")left top no-repeat;
    position:absolute;
    right:9px;
    top:9px;
}
#search-form .search-button:hover {
    background-position:left bottom;
}
.row-bot {
    width:100%;
    height:30px;
    background:url("image/row-bot-tail.gif") center top repeat-x;
    overflow:hidden;
}
/***** tabs *****/
ul.tabs {
    list-style: none;
    width: 960px;
    margin:0 auto;
    overflow:hidden;
}
ul.tabs li {
    float: left;
    overflow: hidden;
    position: relative;
    padding-left:12px;
}
ul.tabs li:first-child {
    padding:0;
}
ul.tabs li a {
    text-decoration: none;
    color: #fff;
    background:url("image/tabs-a1.png")right top no-repeat;
    display: block;
    width:312px;
    height:57px;
    text-align:center;
    font-size:14px;
    line-height:57px;
    font-weight:bold;
    text-transform:uppercase;
}
ul.tabs li.active a, ul.tabs li a:hover {
    background-position:left top;
}
.tab_container {
    width:100%;
    height:380px;
    overflow:hidden;

}
.tab_content {
    width:100%;
    background:url("image/tabs-bg1.jpg") center top repeat-x;
    padding:20px 0;
}
.tab_content p {
    font-size:18px;
    line-height:22px;
    text-transform:uppercase;
    color:#fff;
    text-align:center;
}
.title {
    display:block;
    font-size:67px;
    line-height:1.2em;
    color:#f0f0f0;
    text-align:center;
    letter-spacing:-2px;
    margin-bottom:-2px;
}




/*********************************content*************************************/
.content {
    width:100%;
    padding:37px 0 45px;
    position:relative;
    z-index:1;
}
.promo{
    display: inline-block;
    float: left;
    text-align: center;

}
.thumb img  {
    border: none; /* Рамка вокруг фотографии */
    padding: 0px; /* Расстояние от картинки до рамки */
    background: none; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
    text-align: center;
}

.content2{
    background-image: url("image/bg-tail.gif");
    width:100%;
    position:relative;
    z-index: 2;
}
.catalog{
    display:inline-block;
    position:relative;
    float: left;
}
.content2 span{
    display:block;
    position:relative;
    top:30px;
    left:0px;

    /* Оформление текста */
    color:#222;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    text-align:center ;


}
.product{
    display:inline-block;
    position:relative;
}
.product span {
    display:inline-block;
    position:absolute;
    top:30px;
    left:0px;

    /* Оформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;

    /* Фон */
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}
.product2{
    display:inline-block;
    position:relative;
}
.product2 a:hover {
    color:darkgreen;
    text-decoration:underline;
    cursor: pointer;
}
.product2 span {
    display:inline-block;
    position:absolute;
    top:400px;
    left:0px;

    /* Оформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;


    /* Фон */
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}

.spacer-1 {
    width:100%;
    background:217px 0 repeat-y;
}
h2 {
    font-size:60px;
    line-height:3em;
    color:#272727;
    font-weight: bolder;
    margin-top:-10px;
    margin-bottom:8px;
}
h3 {
    font-size:60px;
    line-height:2em;
    color:#272727;
    font-weight:bolder;
    margin-bottom:6px;
}
h5 {
    color:#d43400;
    font-weight:normal;
    margin-bottom:3px;
}
h6 {
    font-weight: bolder;
    color:#272727;
    font-size: 15px;
    margin-bottom:5px;
}
.border-bot {
    width:100%;
    padding-bottom:20px;
    background:0 bottom repeat-x;
}
.box {
    width:100%;
    background:0 0 repeat-x;
}
.button {
    display:inline-block;
    padding-bottom:4px;
    background:url("image/button-shadow.png") center bottom no-repeat;
    position:relative;
}
.button a {
    display:inline-block;
    padding:5px 10px 5px 30px;
    font-size:15px;
    line-height:2em;
    text-transform:uppercase;
    color:#fff;
    background:url("image/button-tail.png") 0 0 repeat-x darkgreen;
    border-radius:20px;
    cursor:pointer;
}
.button strong {
    display:inline-block;
    padding-right:39px;
    background:url("image/button-marker.png") right 5px no-repeat;
}
.button a:hover {
    background:darkgreen;
}
.button-2 {
    display:inline-block;
    padding:5px 20px;
    font-size:13px;
    line-height:1.23em;
    color:#fff;
    background:darkgreen;
    text-decoration:none;
}
.button-2:hover {
    background:#222;
}
.btn-wrap {
    padding-left:45px;
}
.list-1 li {
    line-height:20px;
    padding:6px 0 6px 15px;
    background:url("image/marker-1.gif") 0 12px no-repeat;
}
.list-1 li a {
    display:inline-block;
    color:#808080;
    font-size: 15px;
    font-weight: bolder;

}
.list-1 li a:hover {
    color:darkgreen;
    text-decoration:underline;
}
.list-2 li {
    font-size:14px;
    line-height:24px;
    padding:0px;
    background:0 bottom repeat-x;
}
.list-2 li a {
    display:block;
    color:#1799cf;
    padding-left:12px;
    background:url("image/marker-1.gif") 0 10px no-repeat;
}
.list-2 li a:hover {
    color:#fff;
}
.list-2 .last-item {
    background:none;
}
.link:hover {
    text-decoration:underline;
}
.link-1 {
    display:inline-block;
    font-size:14px;
    padding-right:8px;
    background:right 8px no-repeat;
}
.link-1:hover {
    color:#fff;
}
.text-1 {
    font-size:14px;
}
.text-2 {
    font-size:14px;
    line-height:1.285em;
}
dl dt {
    margin-bottom:5px;
}
dl span {
    float:left;
    width:88px;
}
/***** contact form *****/
#contact-form {
    display:block;
    width:100%;
}
#contact-form label {
    display:block;
    height:40px;
    overflow:hidden;
}
#contact-form .border {
    display:block;
    border:1px solid #fff;
    overflow:hidden;
}
#contact-form input {
    float:left;
    width:497px;
    font-size:12px;
    line-height:1.25em;
    color:#808080;
    padding:9px 8px;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    border:1px solid #e4e4e4;
    background:#fff;
    outline:none;
}
#contact-form textarea {
    float:left;
    height:195px;
    width:497px;
    font-size:12px;
    line-height:1.25em;
    color:#808080;
    padding:9px 8px;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    border:1px solid #e4e4e4;
    background:#fff;
    overflow:auto;
    outline:none;
}
.text-form {
    float:left;
    display:block;
    font-size:13px;
    line-height:32px;
    width:103px;
    color:#808080;
    font-family:Arial, Helvetica, sans-serif;
}
.buttons {
    padding:8px 0 0 0;
    text-align:right;
}
.buttons a {
    margin-left:7px;
    padding:5px 35px;
}
/****************************footer************************/
.footer {
    width:100%;
    padding:80px 0 30px;
    background:url("image/footer-tail.gif")center top repeat-x;
}
footer span {
    display:block;


